<link href="../public/main.css" rel="stylesheet" />
<div class="container">
  <form class="d-flex flex-column justify-content-center" action="/user/login" method="POST">
    <div class="d-flex flex-column p-3 w-50 ml-auto mr-auto">
      <h1>login form</h1>
      <%- include('./partials/msg'); %>
      <label for="email" class="m-0">Email</label>
      <input
        class="pl-2"
        id="email"
        name="email"
        type="email"
        placeholder="abc@xyz.com"
        value="<%= typeof email != 'undefined' ? email : '' %>"
      />
      <label for="password" class="m-0">password</label>
      <input
        class="pl-2"
        type="password"
        name="password"
        id="password"
        placeholder="password"
        value="<%= typeof password != 'undefined' ? password : '' %>"
      />
    </div>
    <div class="d-flex flex-column flex-sm-row justify-content-around w-50 ml-auto mr-auto">
      <button type="submit" class="btn btn-outline-primary">login</button>
      <button onclick="document.location.href='/user/signup';" type="button" class="btn btn-outline-primary">
        signup instead
      </button>
    </div>
  </form>
</div>
